.dropdowns {
  display: flex;
  height: auto;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.value-entries {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.calendar-entries {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.name-entries {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.address-entries {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.text-field {
  margin: 10px;
  max-width: 180px;
}

@media (max-width: 800px) {
  .dropdowns {
    justify-content: flex-end;
  }
  .value-entries {
    justify-content: flex-end;
  }
  .calendar-entries {
    justify-content: flex-end;
  }
  .name-entries {
    justify-content: flex-end;
  }
  .address-entries {
    justify-content: flex-end;
  }
}
