.dropdowns {
  display: flex;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
}
.value-entries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.calendar-entries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.name-entries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.text-field {
  margin: 10px;
  max-width: 180px;
}

@media (max-width: 800px) {
  
}