.date-class {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 182px;
}
.left-date-class {
  border: thin solid grey;
  border-right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 38px;
  width: 67px;
  border-color: #ced4da !important;
  padding: 5px;
  color: #495057;
  background-color: #e9ecef;
}
.react-date-picker__button {
  height: 38px;
  color: grey;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-color: #ced4da !important;
  background-color: white;
}
.react-date-picker__button__input__input.react-date-picker__button__input__year {
  color: #495057;
}
.react-date-picker__button__input__input.react-date-picker__button__input__month {
  color: #495057;
}
.react-date-picker__button__input__input.react-date-picker__button__input__day {
  color: #495057;
}
.react-date-picker__clear-button.react-date-picker__button__icon {
  color: #495057 !important;
}
