.outline {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}
.client-entry {
  width: 100%;
}
.spacing {
  width: 30%;
}

@media (max-width: 800px) {
  .outline {
    flex-direction: column;
    justify-content: flex-start;
  }
  .spacing {
    width: 0;
  }
}
