.nav-div {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-self: start;
  flex-wrap: wrap;
  height: 250px;
  border-right: 1px solid black;
  border-color: white;
}
.nav-list {
  background-color: #e0950b;
  border: 1px solid gray;
  border-radius: 5px;
  text-shadow: 1px 1px grey;
  padding: 10px;
  margin-bottom: 100px;
  cursor: pointer;
  margin: 20px;
  margin-right: 80px;
  color: white;
  width: 220px;
}

@media (max-width: 800px) {
  .nav-div {
    border-right: none;
    border-bottom: 1px solid white;
    align-self: flex-end;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 180px;
  }
  .nav-list {
    margin: 0;
    margin-bottom: 10px;
    width: 80vw;
    min-width: 240px;
  }
}
